<!--
Copyright 2015 Allan Pichardo<allan.pichardo@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-scroll-threshold/core-scroll-threshold.html">
<link rel="import" href="../elements/wristband-card.html">

<polymer-element name="wristband-shows" attributes="page latitude longitude progressbar headerpanel">
    <template>
        <style>    
            #mainGrid{
                width:100%;
                background-color:#222;
            }
        </style>
        <div id="mainGrid" horizontal layout wrap>
            <template repeat="{{show in shows}}">
                <wristband-card show="{{show}}" flex auto></wristband-card>
            </template>
        </div>
        <core-ajax auto="false" id="wristbandAjax" url="../wristband-server/wristband.php" 
                   params='{"fn":"get_shows","date":"{{date}}","page":"{{page}}","latitude":"{{latitude}}","longitude":"{{longitude}}"}' 
                   handleAs="json" method="POST"
                   on-core-response="{{handleResponse}}" on-core-complete="{{hideProgress}}"></core-ajax>
    </template>
    <script>

        Polymer('wristband-shows', {
            ready: function () {
                var _this = this;

                //event listeners
                var header = document.getElementById(this.headerpanel);
                header.addEventListener('scroll', function (e) {
                    var height = e.detail.target.scrollHeight;
                    var top = e.detail.target.scrollTop;
                    //console.log(height - top);
                    if (height - top < 1000) {
                        
                        if (!_this.fired) {
                            _this.loadMore();
                            _this.fired = true;
                        }
                    }
                });

                //make the request
                this.page = 0;
                this.date = this.todaysDate();
                console.log(this.latitude+","+this.longitude);
                //this.latitude = 40.8241729;
                //this.longitude = -73.9435673;
                this.$.wristbandAjax.go();
            },
            fired: false,
            shows: [],
            maxPage: -1,
            lastPageLoaded: 0,
            handleResponse: function () {
                var response = this.$.wristbandAjax.response;
                if (response !== null && this.page > this.lastPageLoaded) {
                    console.log(response);
                    if (response.execution) {
                        for (var i = 0; i < response.shows.length; ++i) {
                            this.shows.push(response.shows[i]);
                        }
                        this.lastPageLoaded = this.page;
                        this.fired = false;
                    } else {
                        this.maxPage = this.page;
                        this.fired = false;
                    }
                }
            },
            todaysDate: function () {
                var date = new Date();
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var date = date.getDate();

                month = (month < 10) ? "0" + month : month;
                date = (date < 10) ? "0" + date : date;
                var formatted = year + "-" + month + "-" + date;

                return formatted;
            },
            hideProgress: function () {
                var progress = document.getElementById(this.progressbar);
                progress.style.display = 'none';
            },
            showProgress: function () {
                var progress = document.getElementById(this.progressbar);
                progress.style.display = 'block';
            },
            loadMore: function () {
                //console.log("loadmore");
                if (this.maxPage < 0) {
                    this.showProgress();
                    this.page++;
                    this.showProgress();
                    this.$.wristbandAjax.go();
                }
            }
        });

    </script>
</polymer-element>