<!--
Copyright 2015 Allan Pichardo<allan.pichardo@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-image/core-image.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/core-icons/av-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/core-icons/communication-icons.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../elements/wristband-comment-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">

<polymer-element name="wristband-card" attributes="show">
    <template>
        <style>
            :host {
                position: relative;
                //width: 100%;
                //height: 100%;
                box-sizing: border-box;
            }
            #mainSection {
                box-sizing: border-box;
                //width: 520px;
                width:100%;
                //max-width: 550px;
                height:450px;
                //height: 90%;
                //left: 290px;
                top: 10px;
                position: relative;
                margin-top:10px;
                //margin-bottom:20px;
                margin-left:auto;
                margin-right:auto;
                //border-radius: 25px;
            }
            #albumArt {

                border-radius: 5px;
                //background-color: rgb(255, 255, 141);
                background-color: #555;
            }
            #info {
                top:-5px;
                box-sizing: border-box;
                position: relative;
                height: 50px;
                padding-left: 18px;
                color: rgb(255, 255, 255);
                font-size: 32px;
                //background-color: rgb(255, 235, 59);
            }
            #div3 {
                position: absolute;
                color: rgb(255, 255, 255);
                bottom: 125px;
                right: 24px;
            }
            paper-fab {
                color: #eee;
                background-color: #F44336;
            }
            .span-shadow {
                display: block;
                //width:90%;
                width:300px;
                max-width: 550px;
                padding: 8px;
                padding-top:0px;
                margin-left:auto;
                margin-right:auto;
                border-radius: 5px;
                //background-color: rgb(255, 235, 59);
                background-color: #ccc;
                margin-bottom:10px;
            }
            #bandName{
                font-size: 16pt;
                font-weight: 500;

                color:#333;
            }
            #playButton{


            }
            #venueName{
                font-size: 11pt;
                font-style: oblique;
                color: #444;
            }
            paper-slider{
                width:99%;
                margin-left:auto;
                margin-right:auto;
                margin-top:0px;
                margin-bottom:0px;
                padding:0px;
                visibility:hidden;
            }
            paper-slider::shadow #sliderBar::shadow #secondaryProgress {
                background-color: #888;
            }
            paper-slider::shadow #sliderBar::shadow #activeProgress {
                background-color: #F44336;
            }
            paper-slider::shadow #sliderKnobInner {
                background-color: #F44336;
            }
            core-icon-button{
                color:#222;
                width:70px;
                margin:8px 8px 8px 12px;
            }
            #favoriteCount{
                font-size: 12pt;
                text-align: center;
                vertical-align: middle;
            }
            a:link {
                color:#111;
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            a:active {
                text-decoration: underline;
            }
            #loadingBar{
                width:99%;
                margin-left:auto;
                margin-right:auto;
                margin-top:0px;
                margin-bottom:0px;
                padding:0px;
                visibility:hidden;
            }
            .count{
                margin-left:8px;
                margin-right:auto;
            }
        </style>
        <paper-shadow z="2" class="span-shadow">
            <wristband-comment-dialog id="commentDialog" show="{{show}}"></wristband-comment-dialog>
            <section id="mainSection" layout vertical>
                <section id="albumArt" class="top" flex layout horizontal center center-justified hero hero-id="top"
                         style="background:url({{show.large_art_url}}) no-repeat center center;background-size:cover">

                    <paper-fab icon="av:play-arrow" id="playButton" on-click="{{clickPlay}}"></paper-fab>

                </section>
                <paper-progress id="loadingBar" indeterminate="true"></paper-progress>
                <paper-slider id="progressBar"></paper-slider>
                <div id="info" class="bottom" hero hero-id="bottom">
                    <span id="bandName"><a href="{{show.bandcamp_url}}" target="_blank">{{show.band_name}}</a></span>
                    <div id="venueName" flex self-bottom><a href="{{show.songkick_url}}" target="_blank">{{show.venue_name}}</a></div>
                </div>
                <div id="div2" hero class="dummy"></div>
                <div id="div3" class="fab fab-0">
                    <paper-fab icon="maps:map" id="mapButton" cross-fade-delayed></paper-fab>
                </div>
                <div>
                    <core-icon-button id="favoriteButton" icon="favorite-outline" raised><span id="favoriteCount" class="count">{{show.favorite_count}}</span></core-icon-button>
                    <core-icon-button id="commentButton" icon="communication:comment" raised><span id="commentCount" class="count">{{show.comment_count}}</span></core-icon-button>
                </div>
            </section>
        </paper-shadow>
        <core-ajax auto="false" id="favoriteAjax" url="../wristband-server/wristband.php"
                   params='{"band_id":"{{show.band_id}}","fn":"add_favorite"}' 
                   handleAs="json" method="POST"
                   on-core-response="{{handleResponseFavorite}}" on-core-complete="{{hideProgress}}"></core-ajax>
    </template>

    <script>

        Polymer('wristband-card', {
            ready: function () {

                var _this = this;
                this.$.progressBar.addEventListener('change', function () {
                    _this.seekTo(_this.$.progressBar.value);
                });
                this.$.mapButton.addEventListener('click', function () {
                    window.open(_this.mapsLink(), '_blank');
                });
                this.$.favoriteButton.addEventListener('click', function () {
                    _this.showProgress();
                    _this.$.favoriteAjax.go();
                });
                var dialog = this.$.commentDialog;
                this.$.commentButton.addEventListener('click', function () {
                    dialog.showDialog();
                });
                this.$.commentDialog.addEventListener('submitted', function (e) {
                    _this.show.comment_count = e.detail.comment_count;
                });
                
                if(this.show.track_streaming_url.length === 0){
                    this.$.playButton.style.visibility = "hidden";
                }

            },
            selected: 1,
            audio: null,
            isPlaying: false,
            clickPlay: function () {
                if (this.audio === null) {
                    this.audio = new Audio(this.show.track_streaming_url);
                }
                var _this = this;
                var toggle = this.$.playButton;
                var player = this.audio;
                var progress = this.$.progressBar;
                var loading = this.$.loadingBar;


                _this.isPlaying = !_this.isPlaying;
                if (_this.isPlaying) {
                    player.addEventListener('canplaythrough', function () {
                        loading.style.visibility = "hidden";
                        player.play();
                        toggle.icon = "av:pause";
                        progress.style.visibility = "visible";
                        _this.updateProgress();
                    });
                    player.addEventListener('error', function () {
                        loading.style.visibility = "hidden";
                    });
                    if (_this.show.track_streaming_url.length > 0) {
                        if (player.readyState > 3) {
                            loading.style.visibility = "hidden";
                            player.play();
                            toggle.icon = "av:pause";
                            progress.style.visibility = "visible";
                            _this.updateProgress();
                        } else {
                            player.load();
                            loading.style.visibility = "visible";
                        }
                    }
                } else {
                    player.pause();
                    toggle.icon = "av:play-arrow";
                    progress.style.visibility = "hidden";
                }

            }
            ,
            updateProgress: function () {
                if (this.isPlaying) {
                    var player = this.audio;
                    var progress = this.$.progressBar;
                    progress.max = player.duration;
                    progress.value = player.currentTime;

                    try {
                        if (player.buffered.length > 0) {
                            progress.secondaryProgress = player.buffered.end(0);
                        }
                    } catch (e) {
                        console.log(e);
                    }

                    if (player.ended) {
                        player.currentTime = 0;
                        this.clickPlay();
                    }
                    var _this = this;
                    setTimeout(function () {
                        _this.updateProgress();
                    }, 500);
                }
            },
            seekTo: function (position) {
                var player = this.audio;
                var progress = this.$.progressBar;

                player.currentTime = position;
            },
            showProgress: function () {
                var progress = this.$.loadingBar;
                progress.style.visibility = 'visible';
            },
            hideProgress: function () {
                var progress = this.$.loadingBar;
                progress.style.visibility = 'hidden';
            },
            handleResponseFavorite: function () {
                var response = this.$.favoriteAjax.response;
                if (response !== null) {
                    console.log(response);
                    if (response.execution) {
                        this.show.favorite_count = response.data.favorite_count;
                    }
                    this.hideProgress();
                }
            },
            mapsLink: function () {
                var link = "https://www.google.com/maps/?q=" + this.show.venue_lat + "," + this.show.venue_lng;
                return link;
            }
        });

    </script>

</polymer-element>