/*
Copyright 2015 Allan Pichardo<allan.pichardo@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Mar 7, 2015, 5:25:40 PM
    Author     : Allan Pichardo<allan.pichardo@gmail.com>
*/

:host {
    position: relative;
    //width: 100%;
    //height: 100%;
    box-sizing: border-box;
}
#mainSection {
    box-sizing: border-box;
    //width: 520px;
    width:100%;
    //max-width: 550px;
    height:450px;
    //height: 90%;
    //left: 290px;
    top: 10px;
    position: relative;
    margin-top:10px;
    //margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    //border-radius: 25px;
}
#albumArt {

    border-radius: 5px;
    //background-color: rgb(255, 255, 141);
    background-color: #555;
}
#info {
    top:-5px;
    box-sizing: border-box;
    position: relative;
    height: 50px;
    padding-left: 18px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    //background-color: rgb(255, 235, 59);
}
#div3 {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 125px;
    right: 24px;
}
paper-fab {
    color: #eee;
    background-color: #F44336;
}
.span-shadow {
    display: block;
    //width:90%;
    width:300px;
    max-width: 550px;
    padding: 8px;
    padding-top:0px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    //background-color: rgb(255, 235, 59);
    background-color: #ccc;
    margin-bottom:10px;
}
#bandName{
    font-size: 16pt;
    font-weight: 500;

    color:#333;
}
#playButton{


}
#venueName{
    font-size: 11pt;
    font-style: oblique;
    color: #444;
}
paper-slider{
    width:99%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    visibility:hidden;
}
paper-slider::shadow #sliderBar::shadow #secondaryProgress {
    background-color: #888;
}
paper-slider::shadow #sliderBar::shadow #activeProgress {
    background-color: #F44336;
}
paper-slider::shadow #sliderKnobInner {
    background-color: #F44336;
}
core-icon-button{
    color:#222;
    width:70px;
    margin:8px 8px 8px 12px;
}
#favoriteCount{
    font-size: 12pt;
    text-align: center;
    vertical-align: middle;
}
a:link {
    color:#111;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
#loadingBar{
    width:99%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    visibility:hidden;
}
.count{
    margin-left:8px;
    margin-right:auto;
}