<!--
Copyright 2015 Allan Pichardo<allan.pichardo@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/core-icons/av-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/core-icons/communication-icons.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="bower_components/core-icon-button/core-icon-button.html">

<polymer-element name="wristband-comment-dialog" attributes="show">
    <template>
        <style>
            #alias{
                font-weight: bold;
                text-decoration: underline;
            }
            #body{
                font-weight:400;
            }
            #entry{
                margin:10px;
            }
            #timestamp{
                font-size:small;
                color:#666;
            }
            #thread{
                position: absolute;
                display:inline-block;
                height:255px;
                overflow-y:auto;
                overflow-x:hidden;
                width:310px;
            }
            #form{
                width:98%;
                position:absolute;
                bottom:0px;
                //padding:10px;
                //width:310px;
            }
            #popup{
                position: absolute;
                background-color:white;
                z-index: 5;
                width:98%;
                height:98%;
                box-sizing: border-box;
                left: 3px;
                top: 4px;
                display: none;
                border-radius: 5px;
                padding-left:5px;
                padding-right:5px;
            }
            core-toolbar{
                background-color:#F44336;
            }
        </style>
        <div id="popup" layout vertical>
            <core-header-panel id="mainPanel" layout vertical fit>
                <core-toolbar>
                    <core-icon-button id="closeButton" icon="close" on-click="{{hideDialog}}"></core-icon-button>
                    <span flex>{{show.band_name}}</span>
                </core-toolbar>
                <div id="thread" flex three>
                    <template repeat="{{comment in show.comments}}">
                        <div id="entry">
                            <span id="alias">{{comment.alias}}</span> said "
                            <span id="body">{{comment.body}}</span>"  
                            <span id="timestamp">on {{dateFromTimestamp(comment.timestamp)}}</span>
                        </div>
                    </template>
                </div>
                <div id="form" layout vertical flex one>
                    <paper-input-decorator label="Username" floatinglabel layout vertical>
                        <input is="core-input" placeholder id="username" value="{{alias}}">
                    </paper-input-decorator>
                    <div layout horizontal>
                        <paper-input-decorator label="Comment" floatinglabel layout vertical flex>
                            <input is="core-input" placeholder id="message" value="{{body}}">
                        </paper-input-decorator>
                        <paper-fab icon="send" id="sendButton" cross-fade-delayed></paper-fab>
                    </div>
                </div>
            </core-header-panel>
        </div>
        <core-ajax auto="false" id="commentAjax" url="../wristband-server/wristband.php"
                   params='{"band_id":"{{show.band_id}}","fn":"add_comment","alias":"{{alias}}","body":"{{body}}"}' 
                   handleAs="json" method="POST"
                   on-core-response="{{handleResponseComment}}" on-core-complete="{{hideProgress}}"></core-ajax>
    </template>
    <script>
        Polymer('wristband-comment-dialog', {
            ready: function () {
                var _this = this;
                this.$.sendButton.addEventListener('click', function (e) {
                    if (_this.alias.length > 0 && _this.body.length > 0) {
                        _this.$.commentAjax.go();
                    }
                });
            },
            showDialog: function () {
                this.$.popup.style.display = "block";
                this.scrollToBottom();
            },
            scrollToBottom: function () {
                this.$.thread.scrollTop = this.$.thread.scrollHeight;
            },
            handleResponseComment: function (e) {
                var response = this.$.commentAjax.response;
                if (response !== null) {
                    console.log(response);
                    if (response.execution) {
                        this.show.comments = response.data.comments;
                        this.clearForm();
                        this.scrollToBottom();
                        this.fire('submitted', {comment_count: response.data.comments.length});
                    }
                    //this.hideProgress();
                }
            },
            hideDialog: function () {
                this.$.popup.style.display = "none";
            },
            clearForm: function () {
                this.alias = "";
                this.body = "";
                this.$.username.value = "";
                this.$.message.value = "";
            },
            dateFromTimestamp: function (mysql_string)
            {
                if (typeof mysql_string === 'string')
                {
                    var t = mysql_string.split(/[- :]/);
                    //when t[3], t[4] and t[5] are missing they defaults to zero
                    return new Date(t[0], t[1] - 1, t[2], t[3] || 0, t[4] || 0, t[5] || 0).toDateString();
                }

                return "";
            }
        });
    </script>
</polymer-element>